.action-item-list {
    color: white;
}

.action-item-panel-yellow {
    background-color: #ffe52f;
    border-radius: 25px;
    text-shadow: 2px 2px black;
}
.action-item-panel-orange {
    background-color: darkorange;
    border-radius: 25px;
    text-shadow: 2px 2px black;
}
.action-item-panel-red {
    background-color: #900;
    border-radius: 25px;
    text-shadow: 2px 2px black;
}

.action-item-text {
    font-family: "Helvetica Neue", serif;
    font-size: 45px;
}

.icon {
    padding-right: 20px;
}

.buffer {
    margin-top:5px;
    margin-bottom:5px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.time-elapsed {
    padding-left: 75px;
}

.rage-face, .orange-face, .yellow-face{
    vertical-align: middle;
    width: 80px;
    height: 80px;
    float: right;
}

a {
  color: inherit;
  text-decoration: none;
}
