.action-item-list {
    color: white;
}

.action-item-content {
    padding: 0px 20px;
}

.action-item-panel {
    border-radius: 25px;
    text-shadow: 2px 2px 5px black;
}
.action-item-panel.yellow {
  background-color: #ffe52f;
}
.action-item-panel.orange {
    background-color: darkorange;
}
.action-item-panel.red {
    background-color: #900;
}

.action-item-text {
    font-family: "Helvetica Neue", serif;
    font-size: 45px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.icon {
    padding-right: 20px;
}

.buffer {
    margin-top:5px;
    margin-bottom:5px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.time-elapsed {
    font-size: 20px;
}

.rage-face, .orange-face, .yellow-face{
    width: 60px;
    height: 60px;
}

a {
  color: inherit;
  text-decoration: none;
}
