.action-item-list {
    color: white;
}

.action-item-panel-green {
    background-color: #360;
    border-radius: 25px;
}
.action-item-panel-yellow {
    background-color: yellow;
    border-radius: 25px;
}
.action-item-panel-red {
    background-color: #900;
    border-radius: 25px;
}

.action-item-text {
    font-family: "Helvetica Neue", serif;
    font-size: 20px;
}

.icon {
    padding-right: 20px;
}

.buffer {
    margin-top:5px;
    margin-bottom:5px;
    padding-bottom: 15px;
    padding-top: 15px;
}

