<div class="action-item-list">
    <div class="row" *ngFor="let actionItem of actionItems">
        <div class="col-sm-1"></div>
        <div *ngIf="actionItem.priority == 1">
            <div *ngIf="actionItem.source == 'jenkins'"class="col-sm-10 action-item-panel-red buffer">
                <div class="action-item-text"><i class="icon fa fa-building fa-3x"></i>{{ actionItem.name }}
                    <img class="rage-face" src="../assets/rage-mega-rage.jpg">
                </div>
            </div>
            <div *ngIf="actionItem.source == 'github'" class="col-sm-10 action-item-panel-red buffer">
                <div class="action-item-text"><i class="icon fa fa-github fa-3x"></i>{{ actionItem.name }}
                    <img class="rage-face" src="../assets/rage-mega-rage.jpg">
                </div>
            </div>
        </div>

        <div *ngIf="actionItem.priority == 2">
            <div *ngIf="actionItem.source == 'jenkins'"class="col-sm-10 action-item-panel-yellow buffer">
                <div class="action-item-text"><i class="icon fa fa-building fa-3x"></i>{{ actionItem.name }}
                    <img class="green-face" src="../assets/yellow-face.jpg">
                </div>
            </div>
            <div *ngIf="actionItem.source == 'github'" class="col-sm-10 action-item-panel-yellow buffer">
                <div class="action-item-text"><i class="icon fa fa-github fa-3x"></i>{{ actionItem.name }}
                    <img class="green-face" src="../assets/yellow-face.jpg">
                </div>
            </div>
        </div>

        <div *ngIf="actionItem.priority == 3">
            <div *ngIf="actionItem.source == 'jenkins'"class="col-sm-10 action-item-panel-green buffer">
                <div class="action-item-text"><i class="icon fa fa-building fa-3x"></i>{{ actionItem.name }}
                    <img class="green-face" src="../assets/green-face.png">
                </div>
            </div>
            <div *ngIf="actionItem.source == 'github'" class="col-sm-10 action-item-panel-green buffer">
                <div class="action-item-text"><i class="icon fa fa-github fa-3x"></i>{{ actionItem.name }}
                    <img class="green-face" src="../assets/green-face.png">
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
