.action-item-list {
    color: white;
}

.action-item-panel-green {
    background-color: #360;
    border-radius: 25px;
}
.action-item-panel-yellow {
    background-color: yellow;
    border-radius: 25px;
}
.action-item-panel-red {
    background-color: #900;
    border-radius: 25px;
}

.action-item-text {
    font-family: "Helvetica Neue", serif;
}

.buffer {
    margin-top:20px;
    margin-bottom:20px;
    padding-bottom: 15px;
    padding-top: 15px;
}

