.action-item-list, .label {
  color: white;
  font-size: large;
}

.labelBar{
  margin-bottom: 5px;
  margin-left: 5px;
}

#boardUpdatingMessage {
  color: white;
  margin-left: 10px;
}

#boardUpdatingMessage:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}
